In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


from matplotlib import font_manager, rc

font_path = './malgun.ttf'
font_name = font_manager.FontProperties (fname=font_path).get_name()
rc('font', family=font_name)

df2=pd.read_excel('직종별_임금_및_근로시간__표준직업분류6차__20230227144915.xlsx')
df2

df2=df2.fillna(method='pad')
df2.set_index(['고용형태','한국표준직업분류6차'],inplace=True)
df2 = df2.loc[['고용형태','전체근로자']]

list_a=[]
for i in range(0,len(df2.columns),1):
    if len(df2.columns[i]) == 7:
        list_a.append(i)
    else : 
        if '.1' not in df2.columns[i]:
            if '.7'not in df2.columns[i]:
                list_a.append(i)
                
df2.drop(df2.columns[[list_a]],axis=1,inplace=True)

df2

s1= df2.columns.map(lambda x : x[:4])
s2 = df2.iloc[0]


df2.columns=[s1,s2]

df2=df2.iloc[2:]
df2.columns.names = ['년도','구분']



df2=df2.astype(float)
df2.loc['전체근로자','서비스 종사자(4)']=(df2.loc['전체근로자','서비스 종사자(4)'] + df2.loc['전체근로자','판매 종사자(5)']) / 2 

df2.rename(index={'관리자(1)': '관리자',
                  '전문가 및 관련 종사자(2)':'전문가 및 관련 종사자',
                 '사무 종사자(3)':'사무 종사자',
                 '서비스 종사자(4)':'서비스 및 판매 종사자',
                 '농림어업 숙련 종사자(6)':'농림어업 숙련 종사자',
                 '기능원 및 관련 기능 종사자(7)':'기능원 및 관련 기능 종사자',
                 '장치,기계조작 및 조립종사자(8)':'장치,기계 조작 및 조립 종사자',
                 '단순노무 종사자(9)':'단순노무 종사자'}, inplace=True)

df2.drop(df2.index[4],inplace=True)
df2.reset_index(inplace=True)
df2.drop(df2.columns[0],axis=1,inplace=True)
df2.set_index(['한국표준직업분류6차'],inplace=True)
df2

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:5069: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

년도                      2009                  2010                  2011  \
구분                총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간)
한국표준직업분류6차
관리자                    183.2     5080.0     180.50     5297.0      176.7
전문가 및 관련 종사자           179.6     2807.0     176.70     2881.0      171.5
사무 종사자                 184.9     2587.0     183.00     2654.0      179.1
서비스 및 판매 종사자           186.7     1551.0     186.45     1592.0      175.4
농림어업 숙련 종사자            171.5     1590.0     159.00     1570.0      169.5
기능원 및 관련 기능 종사자        189.0     2067.0     186.50     2137.0      178.8
장치,기계 조작 및 조립 종사자      208.6     2235.0     210.40     2285.0      205.9
단순노무 종사자               191.8     1252.0     186.70     1251.0      176.6

년도                                 2012                  2013             ...  \
구분                월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원)  ...
한국표준직업분류6차                                                                ...
관리자                   5778.0      168.3     5955.0     165.60     6189.0  ...
전문가 및 관련 종사자          2944.0      166.2     3098.0     159.10     3132.0  ...
사무 종사자                2857.0      171.5     2991.0     164.80     3050.0  ...
서비스 및 판매 종사자          1710.5      166.1     1740.0     160.55     1779.0  ...
농림어업 숙련 종사자           1867.0      164.3     1924.0     155.00     1879.0  ...
기능원 및 관련 기능 종사자       2258.0      173.1     2318.0     168.80     2469.0  ...
장치,기계 조작 및 조립 종사자     2496.0      200.3     2568.0     194.10     2647.0  ...
단순노무 종사자              1330.0      167.3     1365.0     164.30     1441.0  ...

년도                      2015                  2016                  2017  \
구분                총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간)
한국표준직업분류6차
관리자                    179.6     7779.0     175.30     8279.0     174.40
전문가 및 관련 종사자           170.3     3340.0     167.90     3435.0     167.30
사무 종사자                 178.6     3273.0     174.70     3348.0     172.90
서비스 및 판매 종사자           161.3     1780.0     157.05     1837.5     152.15
농림어업 숙련 종사자            166.4     1897.0     162.20     2001.0     150.80
기능원 및 관련 기능 종사자        171.8     2530.0     164.70     2566.0     163.20
장치,기계 조작 및 조립 종사자      194.4     2733.0     196.10     2848.0     193.90
단순노무 종사자               160.7     1449.0     163.00     1584.0     158.80

년도                                 2018                  2019
구분                월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원)
한국표준직업분류6차
관리자                   8277.0     161.70     8804.0      159.2     9818.0
전문가 및 관련 종사자          3510.0     154.70     3634.0      152.8     3775.0
사무 종사자                3391.0     159.50     3587.0      156.8     3732.0
서비스 및 판매 종사자          1860.5     143.65     1977.0      139.9     2075.0
농림어업 숙련 종사자           1860.0     145.00     2015.0      137.2     2056.0
기능원 및 관련 기능 종사자       2673.0     152.50     2785.0      146.5     2812.0
장치,기계 조작 및 조립 종사자     3019.0     180.80     3142.0      173.7     3229.0
단순노무 종사자              1689.0     144.90     1749.0      139.3     1790.0

[8 rows x 22 columns]

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


from matplotlib import font_manager, rc

font_path = './malgun.ttf'
font_name = font_manager.FontProperties (fname=font_path).get_name()
rc('font', family=font_name)

df1=pd.read_excel('시도_직업별_2008__이혼_20230227144800.xlsx')


df1=df1.fillna(method='pad')



df1.set_index(['시도별','직업별'],inplace=True)
s1= df1.columns.map(lambda x : x[:4])
s2 = df1.iloc[0].map(lambda x : x.split(' ')[0])
df1.columns=[s1,s2]

df1.columns.names = ['년도','구분']
df1 = df1.loc['전국']
df1=df1.astype(int)

list_a=[]
for i in range(0,len(df1.columns),1):
    if i % 2 == 0:
        df1.iloc[:,i] = df1.iloc[:,i] + df1.iloc[:,i+1]
        list_a.append(i+1)
df1.drop(df1.columns[[list_a]],axis=1,inplace=True)
df1.drop(df1.index[[9,10]],inplace=True)
df1.rename(columns={'남편':'이혼자 수'},inplace=True)
df1=df1.iloc[1:]
df1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:2093: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  new_codes = [level_codes[key] for level_codes in self.codes]

년도,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
구분,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수
직업별,,,,,,,,,,,
관리자,4554,4711,4317,7913,9873,10697,11098,11992,12266,11588,11380
전문가 및 관련 종사자,17106,15904,16015,18414,21107,23056,23520,23480,23623,24600,25207
사무 종사자,36365,35231,35366,31017,28074,25850,23428,21911,20668,23342,24043
서비스 및 판매 종사자,40937,38640,40734,43369,46333,45472,44976,43409,41900,46821,46072
농림어업 숙련 종사자,4405,4011,3942,4194,4417,4344,4048,3995,3861,4099,3732
기능원 및 관련 기능 종사자,11065,10299,9684,10604,11259,11230,10627,9936,9367,13426,13589
"장치,기계 조작 및 조립 종사자",7470,7675,7632,7060,7393,7851,7095,7273,7341,4818,4141
단순노무 종사자,12246,11990,11803,15768,18102,18300,17388,16981,17782,18318,17780

In [9]:
df = df2.join(df1)
df.sort_index
df

년도                      2009                  2010                  2011  \
구분                총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간)
한국표준직업분류6차
관리자                    183.2     5080.0     180.50     5297.0      176.7
전문가 및 관련 종사자           179.6     2807.0     176.70     2881.0      171.5
사무 종사자                 184.9     2587.0     183.00     2654.0      179.1
서비스 및 판매 종사자           186.7     1551.0     186.45     1592.0      175.4
농림어업 숙련 종사자            171.5     1590.0     159.00     1570.0      169.5
기능원 및 관련 기능 종사자        189.0     2067.0     186.50     2137.0      178.8
장치,기계 조작 및 조립 종사자      208.6     2235.0     210.40     2285.0      205.9
단순노무 종사자               191.8     1252.0     186.70     1251.0      176.6

년도                                 2012                  2013             ...  \
구분                월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원) 총근로시간 (시간) 월임금총액 (천원)  ...
한국표준직업분류6차                                                                ...
관리자                   5778.0      168.3     5955.0     165.60     6189.0  ...
전문가 및 관련 종사자          2944.0      166.2     3098.0     159.10     3132.0  ...
사무 종사자                2857.0      171.5     2991.0     164.80     3050.0  ...
서비스 및 판매 종사자          1710.5      166.1     1740.0     160.55     1779.0  ...
농림어업 숙련 종사자           1867.0      164.3     1924.0     155.00     1879.0  ...
기능원 및 관련 기능 종사자       2258.0      173.1     2318.0     168.80     2469.0  ...
장치,기계 조작 및 조립 종사자     2496.0      200.3     2568.0     194.10     2647.0  ...
단순노무 종사자              1330.0      167.3     1365.0     164.30     1441.0  ...

년도                  2010   2011   2012   2013   2014   2015   2016   2017  \
구분                 이혼자 수  이혼자 수  이혼자 수  이혼자 수  이혼자 수  이혼자 수  이혼자 수  이혼자 수
한국표준직업분류6차
관리자                 4711   4317   7913   9873  10697  11098  11992  12266
전문가 및 관련 종사자       15904  16015  18414  21107  23056  23520  23480  23623
사무 종사자             35231  35366  31017  28074  25850  23428  21911  20668
서비스 및 판매 종사자       38640  40734  43369  46333  45472  44976  43409  41900
농림어업 숙련 종사자         4011   3942   4194   4417   4344   4048   3995   3861
기능원 및 관련 기능 종사자    10299   9684  10604  11259  11230  10627   9936   9367
장치,기계 조작 및 조립 종사자   7675   7632   7060   7393   7851   7095   7273   7341
단순노무 종사자           11990  11803  15768  18102  18300  17388  16981  17782

년도                  2018   2019
구분                 이혼자 수  이혼자 수
한국표준직업분류6차
관리자                11588  11380
전문가 및 관련 종사자       24600  25207
사무 종사자             23342  24043
서비스 및 판매 종사자       46821  46072
농림어업 숙련 종사자         4099   3732
기능원 및 관련 기능 종사자    13426  13589
장치,기계 조작 및 조립 종사자   4818   4141
단순노무 종사자           18318  17780

[8 rows x 33 columns]